
name: Ubuntu Build
on: [push]

jobs:
  install_dependencies_and_build:
    name: Install Dependencies and Build
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt install cmake git g++ pkg-config libgraphicsmagick++-dev 
          sudo apt install libavcodec-dev libavformat-dev libswscale-dev
          sudo apt install pandoc
      - name: Get the Source
        uses: actions/checkout@v2
      - name: Build timg
        run: |
          mkdir build
          cd build
          cmake .. -DWITH_VIDEO_DECODING=On
          make
